@model IEnumerable<proyectoAgencia.Entities.PaqueteEnt>

@{
    ViewData["Title"] = "ConsultarPaquetes";
}





            <div class="card-body px-0 pt-0 pb-2">
                <div class="table-responsive p-0">
                    <div class="row custom-margin">
    <div class="col-1"></div>
    <div class="col-10">
         <a href="@Url.Action("AgregarPaquetes", "Paquete")" style="width:10%; margin-left:1%" class="btn btn-outline-danger"><i class="fa fa-plus"></i>  Agregar</a>
    </div>
</div>
                    <table class="table align-items-center justify-content-center mb-0">

                       
                        
                       
                        <tbody>
                            @if (Model.Count() > 0)
                            {
                                <div class="col-1"></div>
                                <div class="col-10">
                            
                                    <table class="table table-hover table-bordered"  id="mantU">
                                        <thead>
                                            <tr style="text-align:center">
                                                <th>Nombre</th>
                                                <th>Agente</th>
                                                <th>Precio</th>
                                                <th>Campo</th>
                                                <th>Fecha de Inicio</th>
                                                <th>Fecha de Finalización</th>
                                                <th>Editar</th>
                                               
                                              
                                            </tr>

                                        <tbody>

                                            @foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td title="@item.Descripcion">@item.Nombre</td>
                                                    <td>@item.Agente</td>
                                                    <td>@item.Precio</td>
                                                    <td>@item.Campo</td>
                                                    <td>@item.FechaInicio</td>
                                                    <td>@item.Finalizacion</td>
                                                    <td style="text-align:center">
                                                        <a href="@Url.Action("EditarPaquete","Paquete", new { IdPaquete = item.IdPaquete })">
                                                            <i class="fa-solid fa-pen-to-square fa-lg" style="color: #0756df;"></i>
                                                        </a>
                                                    </td>
                                                    
                                                 
                                                </tr>
                                            }

                                        </tbody>
                                    </table>
                                </div>
                            }
                            else
                            {
                                <div class="col-lg-4"></div>
                                <div class="col-lg-4">
                                    <div class="card">

                                        <div class="card-body">
                                            <h5 class="card-title" style="text-align:center">No hay paquetes en este momento</h5>
                                        </div>

                                    </div>
                                    <br /><br />
                                </div>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

                                     <script>

    $(document).ready(function () {
        $('#mantU').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.13.2/i18n/es-ES.json"
            },
            dom: 'Bfrtip',
            buttons: [
                '', '', ''


                , {
                    extend: 'pdfHtml5', className: "btn btn-outline-secondary btn-sm",
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4]
                    }
                }

                , {
                    extend: 'excelHtml5', className: "btn btn-outline-secondary btn-sm",
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4]
                    }
                }
                , {
                    extend: 'csvHtml5', className: "btn btn-outline-secondary btn-sm",
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4]
                    }
                }
                , {
                    extend: 'print', className: "btn btn-outline-secondary btn-sm",
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4]
                    }
                }
            ],
        });
    });

</script>