@model IEnumerable<proyectoAgencia.Entities.PaqueteEnt>

@{
    ViewData["Title"] = "Pantalla Principal";

}



@foreach (var item in Model)
{
    <div class="col-lg-3">
        <div class="card">

            <img src="@item.Imagen" class="card-img-top" alt="..." />

            <div class="card-body">
                <h5 class="card-title">@item.Nombre</h5>
                <p class="card-text">
                    Agente: @item.Agente
                    <br /> Inicio: @item.FechaInicio.ToShortDateString()
                    <br /> Precio: 	₡ @item.Precio
                </p>
            </div>

        </div>
        <br /><br />
    </div>
}


