@model IEnumerable<proyectoAgencia.Entities.AgenciaViajesEnt>

@{
    ViewData["Title"] = "ConsultarAgencias";
    
}

<style>
    .custom-margin {
        margin-top: 100px;
    }
</style>

<div class="row custom-margin">
    <div class="col-1"></div>
    <div class="col-10">
        <a href="@Url.Action("Registro", "AgenciaViajes")" style="width:10%; margin-left:1%" class="btn btn-outline-danger"><i class="fa fa-plus"></i>  Agregar</a>
    </div>
</div>


<div class="row">

    @if (Model.Count() > 0)
    {
            <div class="col-1"></div>
            <div class="col-10">
                <table class="table table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>ID agencia</th>
                            <th>Nombre</th>
                            <th>Direccion</th>
                            <th>Estado</th>
                            <th>Ciudad</th>

                        </tr>
                    </thead>
                    <tbody>

                    @foreach (var item in Model)
                    {
                                <tr>
                                    <td>@item.IdAgencia</td>
                                    <td>@item.NombreAgencia</td>
                                    <td>@item.Direccion</td>
                                    @if (item.Estado == true)
                                    {
                                        <td>Activo</td>
                                    }
                                    else
                                    {
                                        <td>Inactivo</td>
                                    }
                                    <td>@item.Ciudad</td>
                                    <td>
                                        <a href="@Url.Action("Editar","AgenciaViajes", new { q = item.IdAgencia })">
                                            <i class="fa fa-pencil"></i>
                                        </a>
                                    </td>
                                    <td>
                                        <a href="@Url.Action("CambiarEstado","AgenciaViajes", new { q = item.IdAgencia })">
                                            <i class="fa fa-exchange"></i>
                                        </a>
                                    </td>
                                </tr>
                    }

                    </tbody>
                </table>
            </div>
    }
    else
    {
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
                <div class="card">

                    <div class="card-body">
                        <h5 class="card-title" style="text-align:center">No hay agencias en este momento</h5>
                    </div>

                </div>
                <br /><br />
            </div>
    }

</div>