<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="../assets/img/favicon.png">
    <title>
        Agencia de viajes
    </title>
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <!-- Nucleo Icons -->
    <link href="../assets/css/nucleo-icons.css" rel="stylesheet" />
    <link href="../assets/css/nucleo-svg.css" rel="stylesheet" />
    <!-- Font Awesome Icons -->
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
    <link href="../assets/css/nucleo-svg.css" rel="stylesheet" />
    <!-- CSS Files -->
    <link id="pagestyle" href="../assets/css/argon-dashboard.css?v=2.0.4" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body class="g-sidenav-show   bg-gray-100">
    <div class="min-height-100 bg-dark position-absolute w-100"></div>
    
    <aside class="sidenav bg-white navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-4 " id="sidenav-main">
        <div class="sidenav-header">
            <i class="fas fa-times p-3 cursor-pointer text-secondary opacity-5 position-absolute end-0 top-0 d-none d-xl-none" aria-hidden="true" id="iconSidenav"></i>
            <a class="navbar-brand m-0" ,target="_blank">
                <img src="~/assets/images/logo.png" alt="" class="navbar-brand-img h-100" alt="main_logo">
                <span class="ms-1 font-weight-bold">Agencia de Viajes</span>
            </a>
        </div>
        <hr class="horizontal dark mt-0">

          <!-- menu izquierda inicio -->
        <div class="collapse navbar-collapse  w-auto " id="sidenav-collapse-main">
            <ul class="navbar-nav">
                
                   @if (Context.Session.GetString("RolUsuario").ToString() == "1")
                    {


                    
                <li class="nav-item">
                    <a class="nav-link " href="@Url.Action("ConsultarUsuarios","Usuario")">
                        <div class="icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                                <span class="nav-link-text ms-1"><i class="fa-solid fa-house-user"></i></span>
                        </div>
                        <span class="nav-link-text ms-1">Usuarios</span>
                    </a>
                </li>

                   
                 
            
                <li class="nav-item">
                    <a class="nav-link " href="@Url.Action("ConsultarMantPaquetes","Paquete")">
                        <div class="icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                            <span class="nav-link-text ms-1"><i class="fa-solid fa-box-open"></i></span>
                        </div>
                        
                        <span class="nav-link-text ms-1">Paquetes</span>
                    </a>
                </li>
                 
                <li class="nav-item">
                    <a class="nav-link " href="@Url.Action("ConsultarAgenciaViajes","AgenciaViajes")">
                        <div class="icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                            <span class="nav-link-text ms-1"><i class="fa-solid fa-location-dot"></i></span>
                        </div>
                        
                        <span class="nav-link-text ms-1">Agencia de viajes</span>
                    </a>
                </li>
                }
                <li class="nav-item">
                    <a class="nav-link " href="@Url.Action("PantallaPrincipal", "Home")">
                        <div class="icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                            <span class="nav-link-text ms-1"><i class="fa-solid fa-house-user fa-xs"></i></span>
                        </div>
                        
                        <span class="nav-link-text ms-1">Pantalla de Incio</span>
                    </a>
                </li>
               
               
                <li class="nav-item">
                    <a class="nav-link " href="@Url.Action("ConsultarPaquetesUsuario", "paquete")">
                        <div class="icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                            <span class="nav-link-text ms-1"><i class="fa-solid fa-calendar"></i></span>
                        </div>
                        
                        <span class="nav-link-text ms-1">Calendario viaje</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="@Url.Action("ConsultarDetalleCarrito", "Carrito")">
                        <div class="icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                            <span class="nav-link-text ms-1"><i class="fa-solid fa-cart-shopping"></i></span>
                        </div>
                        
                        <span class="nav-link-text ms-1">Pagar Carrito</span>
                    </a>
                </li>
               
               

                @if (Context.Session.GetString("RolUsuario").ToString() == "2")
                    {
                <li class="nav-item">
                    <a class="nav-link " href="@Url.Action("Contacto", "Contactos")">
                        <div class="icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                            <span class="nav-link-text ms-1"><i class="fa-solid fa-envelopes-bulk"></i></span>
                        </div>

                        <span class="nav-link-text ms-1">Contactenos</span>
                    </a>
                </li>
                }

                 @if (Context.Session.GetString("RolUsuario").ToString() == "1")
                    {
                    <li class="nav-item">
                        <a class="nav-link " href="@Url.Action("ConsultarContactos", "Contactos")">
                            <div class="icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                                <span class="nav-link-text ms-1"><i class="fa-solid fa-envelopes-bulk"></i></span>
                            </div>

                            <span class="nav-link-text ms-1">Contactenos</span>
                        </a>
                    </li>
                    }

            </ul>
        </div>

        <!-- menu izquierda fin -->



       
    </aside>

    <main class="main-content position-relative border-radius-lg ">
        <!-- Navbar -->
       <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl " id="navbarBlur" data-scroll="false">
      <div class="container-fluid py-1 px-3">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
            <li class="breadcrumb-item text-sm"><a class="opacity-5 text-white" href="javascript:;">Bienvenidos</a></li>
            <li class="breadcrumb-item text-sm text-white active" aria-current="page">Servicios</li>
          </ol>
          <h5 class="badge bg-primary text-wrap" style="width :100px 6rem">@Context.Session.GetString("NombreUsuario") / @Context.Session.GetString("NombreRolUsuario")</h5>

        </nav>
                
                &nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;
                
                <i class="fa-solid fa-cart-arrow-down fa-beat-fade fa-lg" style="color: #e5a906;"></i>&nbsp;&nbsp;&nbsp;
                @Context.Session.GetString("Cantidad").ToString()&nbsp;&nbsp;&nbsp;
                <i class="fa-solid fa-comments-dollar fa-beat-fade fa-lg" style="color: #0dd325;"></i>&nbsp;&nbsp;&nbsp;
                @Context.Session.GetString("SubTotal").ToString() + 13% &nbsp;&nbsp;&nbsp;

        <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
         
          </div>
          <ul class="navbar-nav  justify-content-end">
            <li class="nav-item d-flex align-items-center">
              <a href="@Url.Action("CambiarContrasennaUsuario", "Home")" class="nav-link p-0 text-body">
                            <i class="fa-solid fa-user-lock fa-beat-fade fa-xl" style="color: #e5a906" title="Cambiar Contraseña" aria-hidden="true"></i>
               
              </a>
            </li>
            <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
              <a href="javascript:;" class="nav-link text-white p-0" id="iconNavbarSidenav">
                <div class="sidenav-toggler-inner">
                  <i class="sidenav-toggler-line bg-white"></i>
                  <i class="sidenav-toggler-line bg-white"></i>
                  <i class="sidenav-toggler-line bg-white"></i>
                </div>
              </a>
            </li>
            <li class="nav-item px-3 d-flex align-items-center">
              <a href="@Url.Action("CerrarSesion", "Home")" class="nav-link font-weight-bold px-0 text-body">
               <i class="fa-solid fa-right-from-bracket fa-beat-fade fa-xl" style="color: #d71709;" title="Cerrar Sesión" aria-hidden="true"></i>
              </a>
            </li>
            


      
                
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
        <!-- End Navbar -->
         


        <div class="container-fluid py-4">
       

            @RenderBody()
           

            <footer class="footer pt-3  ">
                <div class="container-fluid">
                    <div class="row align-items-center justify-content-lg-between">
                        <div class="col-lg-6 mb-lg-0 mb-4">
                            <div class="copyright text-center text-sm text-muted text-lg-start">
                                © <script>
                                      document.write(new Date().getFullYear())
                                </script>,
                                Programacion web <i class="fa fa-heart"></i> 
                            </div>
                        </div>
                     
                    </div>
                </div>
            </footer>
        </div>
    </main>
   


    <!--   Core JS Files   -->
    <script src="../assets/js/core/popper.min.js"></script>
    <script src="../assets/js/core/bootstrap.min.js"></script>
    <script src="../assets/js/plugins/perfect-scrollbar.min.js"></script>
    <script src="../assets/js/plugins/smooth-scrollbar.min.js"></script>
    <script src="../assets/js/plugins/chartjs.min.js"></script>





    <script src="~/assets/js/jquery.min.js"></script>

    <script src="~/assets/js/popper.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/owl.carousel.min.js"></script>

    <script src="~/assets/js/bootstrap-datepicker.js"></script>
    <script src="~/assets/js/jquery.waypoints.min.js"></script>
    <script src="~/assets/js/jquery.easing.1.3.js"></script>
    <script src="~/js/moment.js"></script>
    <script src="~/assets/js/select2.min.js"></script>
    <script src="~/js/fullcalendar.min.js"></script>
    <script src="~/assets/js/main.js"></script>



    <script>
        var win = navigator.platform.indexOf('Win') > -1;
        if (win && document.querySelector('#sidenav-scrollbar')) {
            var options = {
                damping: '0.5'
            }
            Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
        }
    </script>
    <!-- Github buttons -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <!-- Control Center for Soft Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="../assets/js/argon-dashboard.min.js?v=2.0.4"></script>


    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.13.2/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.3.4/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.3.4/js/buttons.html5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.3.4/js/buttons.print.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/1.13.2/js/dataTables.bootstrap5.min.js"></script>
</body>

</html>

