<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="../assets/img/favicon.png">
    <title>
        Argon Dashboard 2 by Creative Tim
    </title>
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <!-- Nucleo Icons -->
    <link href="../assets/css/nucleo-icons.css" rel="stylesheet" />
    <link href="../assets/css/nucleo-svg.css" rel="stylesheet" />
    <!-- Font Awesome Icons -->
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
    <link href="../assets/css/nucleo-svg.css" rel="stylesheet" />
    <!-- CSS Files -->
    <link id="pagestyle" href="../assets/css/argon-dashboard.css?v=2.0.4" rel="stylesheet" />



    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body class="g-sidenav-show   bg-gray-100">
    <div class="min-height-200 bg-dark position-absolute w-100"></div>
    
    <aside class="sidenav bg-white navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-4 " id="sidenav-main">
        <div class="sidenav-header">
            <i class="fas fa-times p-3 cursor-pointer text-secondary opacity-5 position-absolute end-0 top-0 d-none d-xl-none" aria-hidden="true" id="iconSidenav"></i>
            <a class="navbar-brand m-0" ,target="_blank">
                <img src="~/assets/images/logo.png" alt="" class="navbar-brand-img h-100" alt="main_logo">
                <span class="ms-1 font-weight-bold">Agencia de Viajes</span>
            </a>
        </div>
        <hr class="horizontal dark mt-0">

          <!-- menu izquierda inicio -->
        <div class="collapse navbar-collapse  w-auto " id="sidenav-collapse-main">
            <ul class="navbar-nav">
               
                <li class="nav-item">
                    <a class="nav-link " href="@Url.Action("ConsultarUsuarios","Usuario")">
                        <div class="icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                            <span class="nav-link-text ms-1"><i class="fa-regular fa-user"></i></span>
                        </div>
                        <span class="nav-link-text ms-1">Usuarios</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="@Url.Action("ConsultarMantPaquetes","Paquete")">
                        <div class="icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                            <span class="nav-link-text ms-1"><i class="fa-solid fa-box-open"></i></span>
                        </div>
                        
                        <span class="nav-link-text ms-1">Paquetes</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="@Url.Action("Registro","AgenciaViajes")">
                        <div class="icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                            <span class="nav-link-text ms-1"><i class="fa-solid fa-location-dot"></i></span>
                        </div>
                        
                        <span class="nav-link-text ms-1">Agencia de viajes</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="@Url.Action("ConsultarPaquetes2", "paquete2")">
                        <div class="icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                            <span class="nav-link-text ms-1"> <i class="fa-solid fa-plane"></i></span>
                        </div>
                       
                        <span class="nav-link-text ms-1">Destinos</span>
                    </a>
                </li>
               
                <li class="nav-item">
                    <a class="nav-link " href="@Url.Action("ConsultarPaquetesUsuario", "paquete")">
                        <div class="icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                            <span class="nav-link-text ms-1"><i class="fa-solid fa-calendar"></i></span>
                        </div>
                        
                        <span class="nav-link-text ms-1">Calendario viaje</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="@Url.Action("ConsultarDetalleCarrito", "Carrito")">
                        <div class="icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                            <span class="nav-link-text ms-1"><i class="fa-solid fa-cart-shopping"></i></span>
                        </div>
                        
                        <span class="nav-link-text ms-1">Pagar Carrito</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="@Url.Action("ConsultarMantPaquetes", "Paquete")">
                        <div class="icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                            <span class="nav-link-text ms-1"><i class="fa-solid fa-person-digging"></i></span>
                        </div>
                        
                        <span class="nav-link-text ms-1">Manten. de paquetes</span>
                    </a>
                </li>
            </ul>
        </div>

        <!-- menu izquierda fin -->



       
    </aside>
    <main class="main-content position-relative border-radius-lg ">
        <!-- Navbar -->
        <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl " id="navbarBlur" data-scroll="false">
            <div class="container-fluid py-1 px-3">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
                        <li class="breadcrumb-item text-sm"><a class="opacity-5 text-white" href="javascript:;">Pages</a></li>
                        <li class="breadcrumb-item text-sm text-white active" aria-current="page">Dashboard</li>
                    </ol>
                    <h6 class="font-weight-bolder text-white mb-0">Dashboard</h6>
                </nav>
                <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
                   
                    <ul class="navbar-nav  justify-content-end">
                        <li class="nav-item d-flex align-items-center">
                            <i class="fa fa-cart-plus fa-lg faa-tada animated-hover fixed-plugin-button-nav cursor-pointer"></i>&nbsp;&nbsp;&nbsp;
                            @Context.Session.GetString("Cantidad").ToString()&nbsp;&nbsp;&nbsp;
                            <i class="fa fa-money fa-lg faa-tada animated-hover fixed-plugin-button-nav cursor-pointer"></i>&nbsp;&nbsp;&nbsp;
                            @Context.Session.GetString("SubTotal").ToString() + IVA &nbsp;&nbsp;&nbsp;

                            <a href="@Url.Action("CambiarContrasennaUsuario", "Home")" class="nav-link p-0 text-body">
                                <i class="fa-solid fa-user-lock fa-beat-fade fa-xl" style="color: #dbd40a;" title="Cambiar Contraseña" aria-hidden="true"></i>
                            </a>

                        <li class="nav-item d-flex align-items-center">
                            <a href="@Url.Action("CerrarSesion", "Home")" class="nav-link font-weight-bold px-0 text-body">
                                <i class="fa-solid fa-right-from-bracket fa-beat-fade fa-xl" style="color: #d71709;" title="Cerrar Sesión" aria-hidden="true"></i>
                            </a>
                        </li>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- End Navbar -->
         


        <div class="container-fluid py-4">
       

            @RenderBody()
           

            <footer class="footer pt-3  ">
                <div class="container-fluid">
                    <div class="row align-items-center justify-content-lg-between">
                        <div class="col-lg-6 mb-lg-0 mb-4">
                            <div class="copyright text-center text-sm text-muted text-lg-start">
                                © <script>
                                      document.write(new Date().getFullYear())
                                </script>,
                                Programacion web <i class="fa fa-heart"></i> 
                            </div>
                        </div>
                     
                    </div>
                </div>
            </footer>
        </div>
    </main>
   


    <!--   Core JS Files   -->
    <script src="../assets/js/core/popper.min.js"></script>
    <script src="../assets/js/core/bootstrap.min.js"></script>
    <script src="../assets/js/plugins/perfect-scrollbar.min.js"></script>
    <script src="../assets/js/plugins/smooth-scrollbar.min.js"></script>
    <script src="../assets/js/plugins/chartjs.min.js"></script>





    <script src="~/assets/js/jquery.min.js"></script>

    <script src="~/assets/js/popper.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/owl.carousel.min.js"></script>

    <script src="~/assets/js/bootstrap-datepicker.js"></script>
    <script src="~/assets/js/jquery.waypoints.min.js"></script>
    <script src="~/assets/js/jquery.easing.1.3.js"></script>
    <script src="~/js/moment.js"></script>
    <script src="~/assets/js/select2.min.js"></script>
    <script src="~/js/fullcalendar.min.js"></script>
    <script src="~/assets/js/main.js"></script>



    <script>
        var win = navigator.platform.indexOf('Win') > -1;
        if (win && document.querySelector('#sidenav-scrollbar')) {
            var options = {
                damping: '0.5'
            }
            Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
        }
    </script>
    <!-- Github buttons -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <!-- Control Center for Soft Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="../assets/js/argon-dashboard.min.js?v=2.0.4"></script>
</body>

</html>